.bg-img {
    /* The image used */

    position:fixed;
    

    
    height: 100%;
    width:100%;
    margin-top: 0px;

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  
  
  
  }
  