.bg-img {
    /* The image used */
    background-image: url(../../assets/images/hollywood.jpeg);
    position:fixed;
    

    
    height: 100%;
    width:100%;
    margin-top: 0px;

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  
  
  
  }
  