body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-create-project {
  margin-top: 30px;
}

.projects ul {
  padding-left: 15px;
}

.projects ul li {
  list-style: none;
}

.app-project-overview .nav-panel .btn {
  display: block;
}

.create-project-form {
  width: 300px;
}

.login-card {
  width: 300px;
}

a.remove-link-style {
  text-decoration: none;
  color: inherit;
}

a.remove-link-style:hover {
  text-decoration: none;
  color: inherit;
}

.modal-backdrop {
  z-index: 1400;
}

.modal {
  z-index: 1450;
}

.modal-dialog {
  margin: 5rem auto;
}